<script src="/static/individualScreenings.js" type="module" defer></script>
<script src="/static/reviewsForMovie.js" type="module" defer></script>
<section class="movieInformation">
  <div class="movieInformation__container">
    {{#if movie.image}}
    <img class="movieInformation__img" src="{{movie.image.url}}" alt="Poster for the movie {{movie.title}}"/>
    {{/if}}
    <h1 class="movieInformation__title" lang="en">{{movie.title}}</h1>
    <div class="movieInformation__intro" lang="en">
      {{{movie.intro}}}
    </div>
    <div class="movieInformation__screenings">
      <h2 class="movieInformation__screenigsHeading">Screenings</h2>
      <ul class="movieInformation__list">
      </ul>
    </div>
    <div class="movieInformation__reviewsContainer">
      <h2 class="movieInformation__reviewsHeading">Reviews</h2>
      <div class="movieInformation__oneReview"></div>
      <div class="movieInformation__reviewsArrows"></div>
      <div class="movieInformation__reviewsPagination"></div>
    </div>
  {{> postreview}}
    <a class="movieInformation__link whiteDS" href="/movies">Back to movie page</a>
  </div>
</section>